<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954905463798-9akhgdqghro74mftren180jt15bsb6es.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954905463798-9akhgdqghro74mftren180jt15bsb6es</string>
	<key>API_KEY</key>
	<string>AIzaSyBFQTjBScMM7Zpjhroq3BzcJJ49sZGjxUM</string>
	<key>GCM_SENDER_ID</key>
	<string>954905463798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.malinowski.fiestaFinder</string>
	<key>PROJECT_ID</key>
	<string>find-fiesta</string>
	<key>STORAGE_BUCKET</key>
	<string>find-fiesta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954905463798:ios:e14eb6e66d9c7ea7f915d7</string>
</dict>
</plist>